* {
    box-sizing: border-box;
    font-size: 1.125rem;
}
h1 {
    font-size: 2rem;
}

body {
    margin: 0;
    background-color: #ffffff;
    background-image: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);
}
body, input, textarea {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/*
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}
*/

.container {
    max-width: 50rem;
    padding: 2rem;
    margin: 0 auto;
}

.homepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
.homepage {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage .indications {
    margin-bottom: 1rem;
}
.homepage .indications p {
    margin-bottom: .25rem;
}
.homepage .options p {
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
.homepage .option {
    text-align: left;
    margin-bottom: 2rem;
}
.homepage .option > div {
    margin-bottom: .25rem;
}
.homepage .option label {
    margin-left: 1rem;
}
.homepage .option .input-number {
    margin: 1rem 0
}
.homepage .option .input-number input {
    max-width: 3rem;
}
.homepage .option .input-number span {
    margin-left: .5rem;
    font-size: .75rem;
}

.gamepage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.gamepage .indicators {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 30rem;
    margin-top: 1rem;
}

.game-keys {
    width: 100%;
    max-width: 30rem;
    margin-bottom: 1rem;
}
.game-keys .game {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-keys .key-container {
    margin-bottom: 1rem;
    font-size: 3rem;
}
.game-keys input {
    max-width: 10rem;
    padding: .5rem;
    font-size: 2rem;
}

.game-words {
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
}
.game-words .dictation-container {
    width: 100%;
    margin-bottom: .5rem;
    padding: 1rem;
    font-size: 1rem;
}
.game-words textarea {
    width: 100%;
    padding: .75rem 1rem;
    font-size: 1rem;
}

.gamepage textarea.error:focus,
.gamepage input.error:focus {
    outline-color: red !important;
    background-color: rgba(255, 0, 0, .05);
}
.gamepage input.success:focus {
    outline-color: green !important;
    background-color: rgba(0, 255, 0, .05);
}

.game-end {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
